<h1>Add Contacts</h1>

<p>Add a contact here:</p>

<form action="/new_contact" method="post">
  <label for="first_name">First name:</label>
  <input name="first_name" type="text">
  <label for="last_name">Last name:</label>
  <input name="last_name" type="text">
  <label for="job_title">Job title:</label>
  <input name="job_title" type="text">
  <label for="company">Company name:</label>
  <input name="company" type="text">
  <button type="submit">Add Contact</button>
</form>
<br>
<a href="/">Home</a>
