<h1>Add Address</h1>

<p>Add an address here:</p>

<form action="/new_address/add" method="post">
  <label for="street">Street:</label>
  <input name="street" type="text">
  <label for="city">City:</label>
  <input name="city" type="text">
  <label for="state">State:</label>
  <input name="state" type="text">
  <label for="zip">Zip:</label>
  <input name="zip" type="text">
  <label for="type">Type:</label>
  <input name="type" type="text">
  <!-- <select name="type">
  <option selected="selected" disabled>Address type:</option>
  <option value="Home">Home</option>
  <option value="Work">Work</option>
  <option value="Business">Business</option>
  <option value="Other">Other</option>
</select> -->

  <button type="submit">Add Address</button>
</form>
<br>
<!-- <!<a href="/">Address list</a> -->
<a href="/">Contact list</a>
